{% extends 'todo/base.html' %}

{% block content%}

{% load static%}

<div class="row justify-content-center mt-5">
    <div class="text-center">
        {% if todos %}
            <h1>{{ todos.count }} Current Todo{{ todos.count|pluralize }}</h1>
        {% else %}
            <h1>Current Todos</h1>
        {% endif %}
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if todos %}
            <div class="list-group">
               {% for todo in todos %}
                  {% if todo.important%}
                     <a href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action{% if todo.important %} list-group-item-info{% endif %}">
                        <img src="{% static 'important2.png' %}" width="20" height="20" class="d-inline-block align-text-top">
                        <b>  &nbsp{{ todo.title }}&nbsp&nbsp&nbsp&nbsp</b>{% if todo.memo %} - {{ todo.memo|truncatechars:40 }}{% endif %}
                     </a>
                  {% endif %}
               {% endfor %}
            </div>
            <br>
            <br>
            <div class="list-group">
               {% for todo in todos %}
                  {% if todo.important == False %}
                     <a href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action ">
                        <b>- &nbsp{{ todo.title }}&nbsp&nbsp&nbsp&nbsp&nbsp</b>{% if todo.memo %} - {{ todo.memo|truncatechars:40 }}{% endif %}
                     </a>
                  {% endif %}
               {% endfor %}
            </div>


       {% else %}
          <div class="text-center">
              <h2>Looks like you don't have any todos! </h2>
              <br>
              <a role="button" class="btn btn-primary" href="{% url 'createtodo' %}">New Todo</a>
         </div>
     {% endif %}
     </div>
</div>








{% endblock %}
