{% extends 'todo/base.html' %}

{% block content%}

{% if user.is_authenticated%}
    <meta http-equiv="Refresh" content="0; {% url 'currenttodos'%}" />
{% else %}
    <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    <div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
            <h1>Simple Todo List!</h1>
            <p>Create a simple <b><i>todo list</i></b> to help keep your life organized</p>
            <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endif %}


{% endblock %}
